.auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f7f9ff;
}

.auth-form {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.auth-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #003250;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #003250;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-image: linear-gradient(86deg, #027e7c 23%, #4dd8a6 75%, #74f0a7 110%);
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 35px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-image: linear-gradient(86deg, #4dd8a6 23%, #027e7c 75%, #74f0a7 110%);
}
/* Style pour le conteneur du select */
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #fff;
    color: #003250;
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpolygon%20fill%3D%22%23003250%22%20points%3D%225%2C7%2010%2C12%2015%2C7%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 10px 10px;
    cursor: pointer;
}

.form-group select:focus {
    border-color: #49ACE8;
    box-shadow: 0 0 5px rgba(0, 162, 255, 0.5);
    outline: none;
}

/* Ajustement pour enlever les flèches par défaut sur les navigateurs */
select::-ms-expand {
    display: none;
}

.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpolygon%20fill%3D%22%23003250%22%20points%3D%225%2C7%2010%2C12%2015%2C7%22/%3E%3C/svg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    pointer-events: none;
}

.forgot-password, .reset-password {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.forgot-password h2, .reset-password h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #49ACE8;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #288ac4;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
