/* Media query for smaller screens */
@media (max-width: 1208px) {
    header {
        height: 80px;
        position: relative;
    }

    .burger-menu, .logo {
        position: absolute;
        z-index: 1001;
    }

    .burger-menu {
        display: block;
        right: 0;
        font-size: 25px;
    }

    .logo {
        left: 0;
    }

    .logo, .burger-menu {
        top: 50%;
        transform: translateY(-50%);
    }

    .navigation {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 60px;
        left: -100%;
        background: white;
        z-index: 1000;
        transition: all .4s ease;
    }

    .show-navigation {
        left: 0;
    }

    .navigation ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        margin: 0;
    }

    .navigation ul li {
        width: 100%;
        margin: 10px 0;
    }

    .navigation ul li a {
        width: 100%;
        padding: 10px 0;
    }

    .client__space {
        margin-top: auto; /* Push the client space link to the bottom */
    }

    /* Info box with common width 100% */
    .simplifier .container > div,
    .our-packs .packs-options,
    .our-packs .packs-content,
    .news__feed .container > div,
    footer .footer__top .renovation,
    footer .footer__top .reach__out {
        width: 100%;
    }

    .hero {
        background-image: none;
        position: static;
        height: auto;
    }

    .hero-content {
        background-image: url('https://www.effy.fr/hp-cover-w1600.8d1845432ca02f8c.webp');
        background-size: cover;
    }

    .hero-content .hero-content-center {
        position: relative;
        top: 0;
        transform: none;
        margin-left: 20px;
        padding: 30px 0;
    }

    .info-section {
        height: auto;
        position: static;
        margin: 20px auto;
        justify-content: space-between;
        width: 95%;
        padding: 10px;
    }

    .info-container {
        position: static;
        flex-wrap: wrap;
    }

    .info-container .info-box {
        width: 45%;
        margin: 5px;
    }

    .our-packs .packs-options {
        position: static;
    }

    .our-packs .packs-content {
        top: 50px;
        height: auto;
    }

    .accompa {
        height: auto;
        margin-bottom: 120px;
    }

    .accompa .container {
        flex-direction: column;
    }

    .accompa .accompa-item {
        margin: 10px 0;
    }

    main .container {
        flex-direction: column;
    }

    main .simplifier .simplifier-img {
        display: none;
    }

    .simplifier .cards-container {
        position: static;
    }

    .advices .advice__card {
        margin: 20px 0;
    }

    .news__feed .container {
        justify-content: center !important;
    }

    .news__feed .latest__post,
    .news__feed .posts,
    .news__feed .posts > div {
        height: auto;
        margin: 20px 0;
    }

    /* Footer adjustments */
    footer .container {
        flex-direction: column;
    }

    footer .footer__top {
        height: auto;
    }

    footer .footer__top .renovation .fast__links {
        grid-template-columns: 40% 40%;
        margin-top: 20px;
    }

    footer .footer__top .reach__out {
        text-align: center;
    }

    footer .follow__us {
        justify-content: center;
    }

    footer .un__projet a {
        margin: 0 auto;
    }

    footer .footer__center .container {
        align-items: center !important;
    }

    footer .groupe__effy h2 {
        text-align: center;
    }

    footer .effy__sites {
        padding: 20px 0;
    }

    footer .footer__bottom .artisan {
        text-align: center;
        margin-bottom: 15px;
    }
}